{% block styles %}
<link rel="stylesheet" href="/assets/styles/nav.css">
{% endblock %}

<nav>
    <div class="title"><h1>E</h1></div>
   
    <div class="logo__ctn">
        <div class="home">
            {% include "./logoHome.twig" %}
        </div>
        <div class="employes">
            {% include "./logoEmployes.twig" %}
        </div>
    </div>

</nav>