

<link rel="stylesheet" href="/assets/styles/userProfil.css">

<div class="profil__ctn">
    <img src="/assets/img/bestmask.png" alt="" id="profil__img" />
    <a href="/disconnect"><img src="/assets/img/disconnect.png" alt="" id="disconnect" /></a>
</div>

