form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.name__ctn > input {
    width: 80%;
    border: none;
    background: none;
    color: var(--color-text-cards);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 0.8vw;
    border-bottom: 0.01rem solid var(--color-text-blue);
}

.name__ctn > input:focus {
    outline: none;
    border-bottom: 0.2rem solid var(--color-text-blue);
}

.details > input {
    text-align: center;
    height: 40%;
    width: 30%;
    border: none;
    background: none;
    color: var(--color-text-cards);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.7vw;
    border-bottom: 0.01rem solid var(--color-text-blue);
}

.details > input:focus {
    outline: none;
    border-bottom: 0.2rem solid var(--color-text-blue);
}

.details > span {
    font-family: "Itim";
    font-size: 1.5vw;
    color: var(--color-text-blue);
    font-weight: 900;
}

.action__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24%;
    width: 90%;
    margin-top: 1vh;

    /* border: 2px solid rgb(159, 252, 108); */
}

.blame__ctn {
    display: flex;
    justify-content: center;
    gap: 5px;
    /* border: 2px solid burlywood; */
}

.blame__span {
    margin: 0;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1vw;
    color: var(--color-text-blue);
}

#surveillance {
    width: 1vw;
}

.valid_delete__ctn {
    display: flex;
    justify-content: center;
    gap: 5px;

    width: 50%;
}

#validate__btn {
    all: unset;
}

#validate__btn:hover {
    cursor: pointer;
}

#validate,
#delete {
    width: 1.3vw;
    height: 1.3vw;
}
