@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
    --bg-main: #dfe3e5;
    --bg-w: #ebedf2;
    --square: 7vh;
    --color-cards: #e9e9e9;
    --color-text-blue: #1e6aff;
    --color-text-dashboard: #006bb9;
    --color-title: #282841;
    --color-text-cards: #13131b;
    --color-title-gradiant: linear-gradient(91deg, #6497ff 1.49%, rgba(0, 107, 185, 0.8) 103.33%);
}

main {
    margin-left: 3vw;
}

h4 {
    font-family: "Poppins";
    color: var(--color-text-dashboard);
    font-size: 1.3vw;
    font-weight: 600;
    text-transform: uppercase;
}

.filter__box {
    width: 10vw;
    height: 2vh;
    background-color: var(--color-cards);
    border-radius: 8px;
    padding: 5px 10px;
    font-family: "Poppins";
    font-family: 0.3vw;
}

.logo__add {
    display: flex;
    width: 15vw;
    height: 3vh;
}

.add__employee {
    margin-top: 3vh;
    width: 20vw;
    height: 1vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

#add__img {
    width: 2.3vw;
    height: 2.3vw;
}

#add__employeeText {
    font-family: "Poppins";
    color: var(--color-text-dashboard);
    font-weight: 500;
    font-size: 1vw;
}

h4 {
    font-family: "Poppins";
    color: var(--color-text-dashboard);
    font-size: 1.3vw;
    font-weight: 600;
    text-transform: uppercase;
}

.filter__box {
    width: 10vw;
    height: 2vh;
    background-color: var(--color-cards);
    border-radius: 8px;
    padding: 5px 10px;
    font-family: "Poppins";
    font-family: 0.3vw;
}

.logo__add {
    display: flex;
    width: 15vw;
    height: 10vh;
}

.add__employee {
    margin-top: 3vh;
    width: 20vw;
    height: 2vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text-dashboard);
}

.logo__add a > img {
    width: 3vw;
    height: 3vw;
}

.logo__add a > span {
    font-family: "Poppins";
    color: var(--color-text-cards);
    font-weight: 500;
    font-size: 1vw;
}

.cardsBox {
    width: 76%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2vh;
}

.form__ctn {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 23px;
    width: 16vw;
    height: 12vw;
    background-color: var(--color-cards);
}

#ImgNameFirstName {
    margin-top: 20px;
    padding-left: 10%;
    width: 100%;
    height: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 2px solid blue; */
}

.name__ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -7%;
    height: 50%;
    width: 70%;
    /* border: 2px solid rgb(153, 210, 56); */
}

.name__ctn > p {
    margin: 0;
    border: none;
    background: none;
    color: var(--color-text-cards);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 0.8vw;
    /* border: 2px solid rgb(18, 18, 42); */
}

#ImgNameFirstName > img {
    width: 4.5vw;
    height: 4.5vw;
    object-fit: cover;
    border-radius: 50%;
}

.position__ctn {
    width: 100%;
    height: 25%;
    margin-top: 3%;
    align-items: center;
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(255, 101, 255); */
}

#employeePosition {
    width: 80%;
    height: 3vh;
    background: var(--color-title-gradiant);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-cards);
    font-family: "Poppins";
    font-style: italic;
    font-weight: 600;
    font-size: 0.8vw;
    text-align: center;
    border-radius: 50px;
    border: none;
    /* border: 2px solid rgb(14, 52, 16); */
}

.details {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border: 2px solid rgb(255, 58, 58); */
}

.details > p {
    text-align: center;
    height: 40%;
    width: 30%;
    color: var(--color-text-cards);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.7vw;
}

.details > span {
    font-family: "Itim";

    font-size: 1.5vw;
    color: var(--color-text-blue);
    font-weight: 900;
}

.action__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 24%;
    width: 90%;
    margin-bottom: 10px;
}

#surveillance {
    width: 1vw;
    height: 1vw;
}

.modify__ctn {
    position: relative;
    height: 0.8vw;
    width: 1.8vw;

    cursor: pointer;
    z-index: 100;
    display: flex;
    flex-direction: column;
}
#modify__link {
    text-decoration: none;
    height: 1vw;
}
#modify {
    position: absolute;
    bottom: 2px;
    width: 1.8vw;
}

#blame {
    width: 1vw;
    height: 1vw;
}
