:root {
    --color-title: #282841;
    --color-text-cards: #13131b;
    --color-title-gradiant: linear-gradient(91deg, #6497ff 1.49%, rgba(0, 107, 185, 0.8) 103.33%);
}

h4 {
    font-family: "Poppins";
    color: var(--color-text-dashboard);
    font-size: 1.3vw;
    font-weight: 600;
    text-transform: uppercase;
}

.filter__box {
    width: 10vw;
    height: 2vh;
    background-color: var(--color-cards);
    border-radius: 8px;
    padding: 5px 10px;
    font-family: "Poppins";
    font-family: 0.3vw;
}

.logo__add {
    display: flex;
    width: 15vw;
    height: 10vh;
}

.add__employee {
    margin-top: 3vh;
    width: 20vw;
    height: 2vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text-dashboard);
}

.logo__add a > img {
    width: 70px;
    height: 70px;
}

.logo__add a > span {
    font-family: "Poppins";
    color: var(--color-text-cards);
    font-weight: 400;
    font-size: 1vw;
}

.form__ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 23px;
    width: 16vw;
    height: 13vw;
    background-color: var(--color-cards);
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#ImgNameFirstName {
    margin-top: 30px;
    width: 100%;
    height: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.name__ctn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

.name__ctn > input {
    width: 80%;
    border: none;
    background: none;
    color: var(--color-text-cards);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 0.8vw;
    border-bottom: 0.01rem solid var(--color-text-blue);
}

.name__ctn > input:focus {
    outline: none;
    border-bottom: 0.2rem solid var(--color-text-blue);
}

#ImgNameFirstName > img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.position__ctn {
    width: 100%;
    height: 35%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#employeePosition {
    width: 80%;
    height: 3vh;
    background: var(--color-title-gradiant);
    color: var(--color-cards);
    font-family: "Poppins";
    font-style: italic;
    font-weight: 600;
    font-size: 0.8vw;
    text-align: center;
    border-radius: 50px;
    border: none;
}

.details {
    margin-top: -20px;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.details > input {
    text-align: center;
    height: 40%;
    width: 30%;
    border: none;
    background: none;
    color: var(--color-text-cards);
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.7vw;
    border-bottom: 0.01rem solid var(--color-text-blue);
}

.details > input:focus {
    outline: none;
    border-bottom: 0.2rem solid var(--color-text-blue);
}

.details > span {
    font-family: "Itim";
    font-size: 1.5vw;
    color: var(--color-text-blue);
    font-weight: 900;
}

.action__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 27%;
    width: 90%;
    margin-bottom: 5px;
}

#surveillance {
    width: 1vw;
    height: 1vw;
}

.valid_delete__ctn {
    display: flex;
    justify-content: center;
    gap: 5px;

    width: 50%;
}

#validate__btn {
    all: unset;
}

#validate__btn:hover {
    cursor: pointer;
}

#validate,
#delete {
    width: 1.3vw;
    height: 1.3vw;
}

#blame {
    width: 1vw;
    height: 1vw;
}
