:root {
    --color-title: #282841;
    --color-title-gradiant: linear-gradient(91deg, #6497ff 1.49%, rgba(0, 107, 185, 0.8) 103.33%);
    --color-title-gradiantHover: linear-gradient(
        91deg,
        #98bbff 1.49%,
        rgba(69, 177, 255, 0.8) 103.33%
    );
}

.subscribe__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe__form__ctn {
    margin-top: -30vh;
    margin-left: -7vw;
    /* border: 2px solid red; */
    width: 19vw;
    border-radius: 23px;
    padding: 0 1vw;
    background-color: var(--color-cards);
    box-shadow: 0px -1px 12px -3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1701px) {
        margin-top: -17vh;
        height: 60vh;
        width: 14vw;
    }
}

form {
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    width: 17vw;
    margin: 0;
    display: flex;
    /* border: 2px solid blue; */
    flex-direction: column;
    font-family: "Poppins";
    font-size: 0.9vw;
    font-weight: 400;
    @media screen and (min-width: 1701px) {
        width: 13vw;
        font-size: 0.7vw;
    }
}

.form__input_ctn {
    padding-top: 20px;
    height: 4.5;
    border: none;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    color: var(--color-title);
}

.form__input_ctn > p {
    height: 13px;
    font-size: 9px;
    color: rgb(239, 61, 61);
}

.form__input_ctn > input {
    font-family: "Poppins";
    color: var(--color-text-blue);
    padding-top: 5px;
    height: 2.5vh;
    background: none;
    border: none;
    border-bottom: 0.05rem solid var(--color-text-blue);
    font-size: 0.9vw;
    font-weight: 500;
    @media screen and (min-width: 1701px) {
        width: 13vw;
        font-size: 0.7vw;
    }
}

.form__input_ctn > input:focus {
    border-bottom: 0.15rem solid var(--color-text-blue);
}

*:focus {
    outline: none;
}
.btn__ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    margin-top: 3vh;
}

#connexionBtn {
    border: none;
    width: 8vw;
    padding: 10px 0;
    font-size: 0.7vw;
    opacity: 1;
    background: var(--color-title-gradiant);
    color: var(--color-cards);
    border-radius: 50px;
    transition: 0.2s ease-in-out;
}

#connexionBtn:hover {
    cursor: pointer;
    opacity: 0.9;
}

#inscriptionBtn {
    font-family: "Poppins";
    border: none;
    background: none;
    font-size: 0.6vw;

    color: var(--color-text-blue);
    transition: 0.5s ease-in-out;
}

#inscriptionBtn:hover {
    cursor: pointer;
    text-decoration: underline;
}
