:root {
    --color-gradiant: linear-gradient(91deg, #6497ff 1.49%, rgba(0, 107, 185, 0.8) 103.33%);
}

.profil__ctn {
    width: 7vw;
    height: 8vh;
    border-radius: 50px;
    background: var(--color-gradiant);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    top: 3vh;
    right: 3vw;
}

#profil__img {
    width: 3vw;
    border-radius: 100px;
    object-fit: cover;
    aspect-ratio: 1;
}

#disconnect {
    width: 1.5vw;
    transition: 0.5s ease;
}

#disconnect:hover {
    transform: rotate(180deg);
    cursor: pointer;
}
