{% extends "../base.twig" %}

{% block style %}
<link rel="stylesheet" href="/assets/styles/home.css">
{% endblock %}

{% block main %}
<main>
    <div class="title__section">
        <div class="title__ctn">
            <h1>Welcome,</h1>
            <h2>in Empleez !</h2>
        </div>
        <span>Manage your team and more.</span>
    </div>
    {% block section %}
    <section class="connexion__big_box">
        <div class="connexion__box">
            <div class="form__ctn">
            
                <form method="post" action="/home">
                    <div class="form__input_ctn">
                        <label for="mail">E-mail</label>
                        <input type="text" name="mail" id="mail" />
                    </div>
                    <div class="form__input_ctn">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" id="password" />
                    </div>
                    <div class="btn__ctn">
                        <button type="submit" id="connexionBtn">Se connecter</button>
                        <a href="/subscribe" id="inscriptionBtn">S'incrire</a>
                    </div>
                </form>
                
            </div>
        </div>
    </section>
    {% endblock %}
</main>
{% endblock %}